*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(235, 165, 177);
}
.item{
    width: 100px;
    height: 100px;
    background-color: rgb(201, 146, 253);
    margin-top: 10px;
    margin: 10px;
}
.cnteudo{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% ;
    justify-content: center;
    

}
.meu-site{
    display: grid;
    grid-template-columns: 20%, 40%, 40%;
    grid-template-areas: 
     "menu menu menu"
     "principal principal lado"
     "rodape rodape lado"
    ;
}
.menu{
    height: 10vh;
    background-color: rgb(201, 146, 253);
    grid-area: menu;

}
.lado {
    height: 90vh;
    background-color: aqua;
    grid-area: lado;
}
.principal{
    height: 80vh;
    background-color: pink;
    grid-area: principal;
}
.rodape{
    height: 10vh;
    background-color: rgb(210, 150, 245);
    grid-area: rodape;
}