* {
    padding: 0;
    margin: 0;
}
.menu {
    width: 100%;
    height: 60px;
    background-color: salmon;
}
.conteudo-musica {
    width: 100%;
}
.rodape {
    width: 100%;
    background-color: rgb(188, 204, 221);
    text-align: center;
}
.desc-estilo {
    width: 100%;
    background-color: tan;
}
.desc-solo {
    width: 100%;
    background-color: teal;
}
.desc-grupo {
    width: 100%;
    background-color: tan;
}
.desc-banda {
    width: 100%;
    background-color: teal;
}
.desc-app {
    width: 100%;
    background-color: tan;
}
.img-ini {
    width: 100%;
}
@media screen and (min-width:768px){
     .menu {
         height: 100px;
         background-color: chartreuse;
     }
     .conteudo-musica {
         display: flex;
         direction: ltr;
     }
}

@media screen and (min-width:1024px){
    .menu {
        height: 200px;
        background-color: rgb(183, 0, 255);
    }
    .conteudo-musica {
        display: flex;
        direction: rtl;
    }
}
